.main-control {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #005974;
  padding: 20px;
}

.title {
  font-size: 2rem;
  color: rgb(255, 255, 255);
  background-color: #292D32;
  padding: 10px 20px;
  border-radius: 5px;
  padding-left: 35%;
  padding-right: 35%;
  font-weight: bold;
}

.mode-buttons {
  display: flex;
  gap: 10px;
  margin: 20px 0;
}

.div .control-section{
  background-color: #005974;
}

.mode-buttons button {
  padding: 10px 20px;
  font-size: 1rem;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background 0.3s;
  background-color: gray;
  color: black;
  font-weight: bold;
  width: 10em;
}

.mode-buttons button.active {
  background-color: white;
}

.mode-buttons button.inactive {
  background-color: gray;
}

.active {
  box-shadow: 0 0 10px white;
}

.control-section {
  background-color: #005974;
  padding: 20px;
  border-radius: 10px;
  border-color: rgb(0, 0, 0);
  border-width: 10px;
  display: flex;
  justify-content: center;
  width: 90%;
  min-height: 100%;
}

body {
  height: 100%;
}

body, html {
  overflow: hidden;
}

@media (max-width: 768px) {
  html, body {
    height: 100%;
    margin: 0;
    padding: 0;
    background-color: #005974; /* Passe die Hintergrundfarbe an */
  }
<<<<<<< HEAD

  .title {
    font-size: 1.5rem;
    padding: 10px;
    padding-left: 20%;
    padding-right: 20%;
  }

  .mode-buttons {
    flex-direction: row;
    gap: 5px;
  }

  .mode-buttons button {
    width: 100%;
    font-size: 0.9rem;
    padding: 8px 15px;
  }

  .control-section {
    width: 100%;
    padding: 10px;
=======
  
  .title {
      font-size: 1.5rem;
      padding: 10px;
      padding-left: 20%;
      padding-right: 20%;
  }

  .mode-buttons {
      flex-direction: row;
      gap: 5px;
  }

  .mode-buttons button {
      width: 100%;
      font-size: 0.9rem;
      padding: 8px 15px;
  }

  .control-section {
      width: 100%;
      padding: 10px;
>>>>>>> 9e44aa91ecadf29717d15b0dfa087a8dcccb11c4
  }
}