@import './sharedStyles.css';

.control-button.active {
  background-color: #016E8F;
}

.control-button:hover {
  background-color: #005974;
}

.route-select {
  padding: 8px 15px;
  border-radius: 8px;
  border: none;
  font-size: 16px;
}

.control-button,
.route-select {
  margin-bottom: 10px;
}

.speed-slider {
  appearance: none;
  width: 100%;
  height: 8px;
  border-radius: 5px;
  outline: none;
  background: linear-gradient(to right, #016E8F 50%, #ddd 50%);
  transition: background 0.1s;
}

.speed-slider::-webkit-slider-thumb {
  appearance: none;
  width: 15px;
  height: 15px;
  background: #016E8F;
  border-radius: 50%;
  cursor: pointer;
  transition: background 0.3s;
}

.led-color-picker-container {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
}

.led-color-picker-toggle {
  display: inline-block;
  width: 30px;
  height: 30px;
  cursor: pointer;
}

.led-color-picker {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  background: #2e2e42;
  padding: 10px;
  border-radius: 8px;
  border: 1px solid #000000;
  box-shadow: 0 10px 30px rgba(0, 0, 0, 0.4);
  z-index: 1000;
  max-width: 90vw;
  max-height: 90vh;
  overflow: auto;
}



.mbot-image-container {
  width: 300px; /* Breite des Containers */
  height: 300px; /* Höhe des Containers */
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: rgba(255, 255, 255, 0.1); /* Optional: Hintergrundfarbe */
  border-radius: 12px; /* Abgerundete Ecken */
  margin-top: 20px;
  box-shadow: 0 6px 15px rgba(0, 0, 0, 0.2); /* Optional: Schatten */
}

.mbot-image-container img {
  max-width: 100%; /* Bild passt sich der Breite des Containers an */
  max-height: 100%; /* Bild passt sich der Höhe des Containers an */
  object-fit: contain; /* Bild wird skaliert, ohne das Seitenverhältnis zu verzerren */
}

@media (max-width: 768px) {
  .control-button, .route-select {
      font-size: 14px;
      padding: 8px 15px;
  }

  .speed-slider {
      height: 6px;
  }

  .speed-slider::-webkit-slider-thumb {
      width: 12px;
      height: 12px;
  }

  .led-container {
      height: 35px;
      margin-bottom: 30px;
  }

  .led-label {
      font-size: 1rem;
      margin-left: 10px;
  }

  .toggle-switch {
      width: 40px;
      height: 20px;
  }

  .toggle-handle {
      width: 18px;
      height: 18px;
  }

  .toggle-switch.on .toggle-handle {
      left: 20px;
  }
}