.popup-overlay {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
}

.popup-content {
  background: white; 
  padding: 20px;
  border-radius: 8px;
  text-align: center;
}

.popup-content button {
  padding: 10px 20px;
  background-color: white;
  color: black;
  border: none;
  border-radius: 8px;
  font-size: 16px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.popup-content button:hover {
  background-color: #016E8F;
}

.new-checkpoint-button{
  padding: 10px 20px;
  background-color: white;
  color: black;
  border: none;
  border-radius: 8px;
  font-size: 16px;
  cursor: pointer;
  transition: background-color 0.3s ease;
  font-weight: bold;
  margin: 10px 0;
  width: 100%;
}

.new-checkpoint-button:hover {
  background-color: #016E8F;
}